Solicitação recebida por email:

* Selecionar somente imóveis classificados como "Apartamento".
* Selecionar imóveis classificados com os tipos "Casa", "Casa de condomínio" e "Casa de vila".
* Selecionar imóveis com área entre 60 e 100m².
* Selecionar imóveis que tenham pelo menos 04 quartos e aluguel menor que R$ 2.000,00

## IMPORTS

In [2]:
import pandas as pd

In [5]:
dataset = pd.read_csv('dados_imoveis_res.csv', sep = ';')

## DATAFRAME

In [6]:
dataset

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## RELATÓRIO III - SELEÇÃO E FREQUÊNCIA DE IMÓVEIS

Selecionar somente imóveis classificados como "Apartamento".

In [7]:
selecao = dataset['Tipo'] == 'Apartamento'

In [10]:
n1 = dataset[selecao].shape[0]

In [11]:
n1

19532

Selecionar imóveis classificados com os tipos "Casa", "Casa de condomínio" e "Casa de vila".

In [16]:
selecao = (dataset['Tipo'] == 'Casa') | (dataset['Tipo'] == 'Casa de Condomínio') | (dataset['Tipo'] == 'Casa de Vila')

In [17]:
n2 = dataset[selecao].shape[0]

In [18]:
n2

2212

Selecionar imóveis com área entre 60 e 100m².

In [19]:
selecao = (dataset['Area'] >= 60) & (dataset['Area'] <= 100)

In [20]:
n3 = dataset[selecao].shape[0]

In [21]:
n3

8719

Selecionar imóveis que tenham pelo menos 04 quartos e aluguel menor que R$ 2.000,00

In [22]:
selecao = (dataset['Quartos'] >= 4) & (dataset['Valor'] <2000)

In [23]:
n4 = dataset[selecao].shape[0]

In [24]:
n4

41

## RESULTADO DA SOLICITAÇÃO DO EMAIL

In [32]:
print("Número de imóveis classificados como 'Apartamento': {}".format(n1))
print("Número de imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila': {}".format(n2))
print("Número de imóveis com área entre 60 e 100m²: {}".format(n3))
print("Número de imóveis com 04 quartos ou mais e aluguel menor que R$ 2.000,00: {}".format(n4))

Número de imóveis classificados como 'Apartamento': 19532
Número de imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila': 2212
Número de imóveis com área entre 60 e 100m²: 8719
Número de imóveis com 04 quartos ou mais e aluguel menor que R$ 2.000,00: 41