## IMPORTS

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dados_imoveis_res.csv', sep = ';')

## DATAFRAME

In [3]:
dataset

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## RELATÓRIO IV - TRATAMENTO DE DADOS FALTANTES. (MISSINGS)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

Registros nulos: 'Valor', 'Condominio', 'IPTU'

## TRATANDO 'VALOR'

In [6]:
dataset[dataset['Valor'].isnull()].shape[0]

9

In [7]:
dataset.dropna(subset = ['Valor'], inplace = True)

In [8]:
dataset[dataset['Valor'].isnull()].shape[0]

0

## TRATANDO 'CONDOMINIO' E 'IPTU'

Retirando valores nulos.

In [10]:
dataset[dataset['Condominio'].isnull()].shape[0]

1813

In [11]:
selecao = (dataset['Tipo'] == 'Apartamento') & (dataset['Condominio'].isnull())

In [12]:
dataset = dataset[~selecao]

In [13]:
dataset[dataset['Condominio'].isnull()].shape[0]

1068

Atribuindo valor "0" ao restante do 'Condominio' e 'IPTU'.

In [14]:
dataset = dataset.fillna({'Condominio': 0, 'IPTU': 0})

In [15]:
dataset[dataset['Condominio'].isnull()].shape[0]

0

In [16]:
dataset[dataset['IPTU'].isnull()].shape[0]

0

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21826 non-null  float64
 8   IPTU        21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

## EXPORTANDO NOVO BANCO DE DADOS

In [19]:
dataset.to_csv('dados_resid_tratado.csv', sep = ';', index = False)